header{
	text-align: center;
}


#form-container, #schedule-container{
	border: 2px solid #51A2D3;
	margin-left: 30px;
	padding: 0px;
	width: 1200px;
}
#form-header, #schedule-header{
	background-color: #51A2D3;
	color: white;
	padding: 10px 10px 10px 30px;
	margin-top: 0px;
	margin-left: 0px;
}

#form{
	margin-left: 8px;
}

#submitBtn{
	background-color: #51A2D3;
	color: white;
}
input{
	width: 400px;
	height: 30px;
}